:root {
  --tw-chat-icon-color: #3d4df0;
}

.chat-container {
  position: fixed;
  bottom: var(--tw-chat-position-bottom, 25px);
  right: var(--tw-chat-position-right, 25px);;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-bubble {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--tw-chat-bubble-background, #fff);
  box-shadow: var(--tw-chat-bubble-box-shadow, none);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--tw-chat-primary, #000);
}

.chat-bubble svg {
  width: 50px;
  height: auto;
}

.chat-opacity-0 {
  opacity: 0;
}

.chat-interface {
  width: var(--tw-chat-interface-width, 350px);
  max-width: var(--tw-chat-interface-max-width, 85vw);
  height: var(--tw-chat-interface-height, 500px);
  max-height: var(--tw-chat-interface-max-height, 50vh);
  background-color: var(--tw-chat-background, white);
  border: var(--tw-chat-interface-border, 1px solid #ddd);
  box-shadow: var(--tw-chat-interface-box-shadow, 0 0 5px rgba(0,0,0,0.1));
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.chat-messages {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--tw-chat-message-padding, 20px);
}

.chat-messages .message {
  border-radius: var(--tw-chat-message-border-radius, 0);
  box-shadow: var(--tw-chat-message-box-shadow, -1px 1px rgba(0,0,0,0.5));
  padding: var(--tw-chat-padding, 10px 20px);
  margin-bottom: 1rem;
  width: var(--tw-chat-message-width, 85%);
  background: var(--tw-chat-message-background, #f0f0f0);
  color: var(--tw-chat-message-color, #333);
}

.chat-messages .message.user {
  background: var(--tw-chat-message-user-background, #333);
  color: var(--tw-chat-message-user-color, #fff);
  align-self: flex-end;
}

.chat-messages .waiting-indicator {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.chat-input-container {
  display: flex;
  border-top: var(--tw-chat-input-border, 1px solid);
  border-bottom: var(--tw-chat-input-border,  1px solid );
  padding: var(--tw-chat-padding, 10px 20px);
  background: var(--tw-chat-input-background, transparent);
}

.chat-input-container label, .chat-interface .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.chat-input-container input{
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--tw-chat-primary);
}

.chat-input-container button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-input-container button svg {
  width: 48px;
  height: auto;
}

.chat-disclaimer-container {
  display: flex;
  flex-direction: column;
  padding: var(--tw-chat-padding, 10px 20px);
  font-size: var(--tw-chat-disclaimer-font-size, 0.8rem);
  background-color: var(--tw-chat-disclaimer-background, #f0f0f0);
  color: var(--tw-chat-disclaimer-color, #000);
}

.chat-disclaimer-container a {
  text-decoration: none;
}

.chat-disclaimer-container svg, .chat-disclaimer-container img {
  height: 36px;
  width: auto;
}

.chat-disclaimer-links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.chat-disclaimer-container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
}

.chat-disclaimer-container button svg {
  margin-right: 0.25rem;
  width: auto;
  height: 27px;
}