:root {
  --tw-chat-icon-color: #3d4df0;
  --tw-chat-header-close-color: #fff;
}

.tw-chat-container {
  position: fixed;
  bottom: var(--tw-chat-position-bottom, 25px);
  right: var(--tw-chat-position-right, 25px);;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tw-chat-bubble {
  width: var(--tw-chat-bubble-size, 100px);
  height: var(--tw-chat-bubble-size, 100px);
  border-radius: var(--tw-chat-bubble-border-radius, 100%);
  background-color: var(--tw-chat-bubble-background, #fff);
  box-shadow: var(--tw-chat-bubble-box-shadow, none);
  font-size: var(--tw-chat-bubble-font-size, 16px);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--tw-chat-primary, #000);
  z-index: var(--tw-chat-bubble-z-index, 1);
}

.tw-chat-bubble svg {
  width: var(--tw-chat-bubble-icon-size, 50px);
  height: auto;
}

.tw-chat-visibility-0 {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.tw-chat-interface {
  width: var(--tw-chat-interface-width, 350px);
  max-width: var(--tw-chat-interface-max-width, 85%);
  height: var(--tw-chat-interface-height, 500px);
  max-height: var(--tw-chat-interface-max-height, 50vh);
  background-color: var(--tw-chat-background, white);
  border: var(--tw-chat-interface-border, 1px solid #ddd);
  box-shadow: var(--tw-chat-interface-box-shadow, 0 0 5px rgba(0,0,0,0.1));
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.tw-chat-header {
  background-color: var(--tw-chat-header-background, #333);
  color: var(--tw-chat-header-color, #fff);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--tw-chat-header-padding, 10px 20px);
}

.tw-chat-header .close {
  background: none;
  border: none;
  align-self: flex-end;
}

.tw-chat-header .close svg {
  width: var(--tw-chat-header-close-size, 32px);
  height: var(--tw-chat-header-close-size, 32px);
}

.tw-chat-messages {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--tw-chat-message-padding, 20px);
}

.tw-chat-messages .message {
  border-radius: var(--tw-chat-message-border-radius, 0);
  box-shadow: var(--tw-chat-message-box-shadow, -1px 1px rgba(0,0,0,0.5));
  padding: var(--tw-chat-padding, 10px 20px);
  margin-bottom: 1rem;
  width: var(--tw-chat-message-width, 85%);
  background: var(--tw-chat-message-background, #f0f0f0);
  color: var(--tw-chat-message-color, #333);
}

.tw-chat-messages .message.user {
  background: var(--tw-chat-message-user-background, #333);
  color: var(--tw-chat-message-user-color, #fff);
  align-self: flex-end;
}

.tw-chat-messages .message.error {
  background: var(--tw-chat-message-error-background, transparent);
  color: var(--tw-chat-message-error-background, #333);
  box-shadow: var(--tw-chat-message-error-box-shadow, none);
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.tw-chat-messages .waiting-indicator {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.tw-chat-form {
  display: flex;
  border-top: var(--tw-chat-input-border, 1px solid);
  border-bottom: var(--tw-chat-input-border,  1px solid );
  padding: var(--tw-chat-padding, 10px 20px);
  background: var(--tw-chat-input-background, transparent);
}

.tw-chat-form label, .tw-chat-interface .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.tw-chat-form input{
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--tw-chat-primary);
}

.tw-chat-form button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tw-chat-form button svg {
  width: 48px;
  height: auto;
}

.tw-chat-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.tw-chat-input-container .tw-chat-char-count {
  margin-top: 0.5rem;
  font-size: var(--tw-chat-char-count-font-size, 0.75rem);
}

.tw-chat-input-container .tw-chat-max-characters {
  font-weight: bold;
}

.tw-chat-disclaimer-container {
  display: flex;
  flex-direction: column;
  padding: var(--tw-chat-padding, 10px 20px);
  font-size: var(--tw-chat-disclaimer-font-size, 0.8rem);
  background-color: var(--tw-chat-disclaimer-background, #f0f0f0);
  color: var(--tw-chat-disclaimer-color, #000);
}

.tw-chat-disclaimer-container a {
  text-decoration: none;
}

.tw-chat-disclaimer-container svg, .tw-chat-disclaimer-container img {
  height: 36px;
  width: auto;
}

.tw-chat-disclaimer-links {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.tw-chat-disclaimer-container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  padding: 0;
}

.tw-chat-disclaimer-container button svg {
  margin-right: 0.25rem;
  width: auto;
  height: 27px;
}

/* mobile */
@media screen and (max-width: 767px) {
  .tw-chat-interface.sticky {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .tw-chat-interface {
    width: var(--tw-chat-interface-width-mobile, 95vw);
    height: var(--tw-chat-interface-width-height, 95vh);
    max-width: 100%;
    z-index: var(--tw-chat-interface-z-index-mobile, 999);
  }

  .tw-chat-bubble {
    width: var(--tw-chat-bubble-size-mobile, 80px);
    height: var(--tw-chat-bubble-size-mobile, 80px);
    font-size: var(--tw-chat-bubble-font-size-mobile, 14px);
  }
  
  .tw-chat-bubble svg {
    width: var(--tw-chat-bubble-icon-size-mobile, 40px);
    height: auto;
  }
}